

/*** HEADER ***/
.header {
  background-image: url("../images/backgroundImageHeader.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navHeader {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  text-transform: uppercase;
}

.title {
  font-size: 60px;
  align-self: center;
  margin-top: 400px;
}

.textTitle
{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}




/*** FOOTER ***/
.footer
{
  background-image: url("../images/backgroundImageFooter.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2em;
  text-transform: uppercase;
}

.navFooter{
  width: 50%;
}

.navLu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.blockFooter
{
  text-align: center;
  width: 50%;
}

.pipe
{
  width: 1px;
  height: 25px;
  border:solid 1px white;
}
