{% extends "base.html.twig" %}

{% block content %}
<main>
    <section class="mountains">
        <h3>Explore The Mountains</h3>
        <p>
            <span>
                Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Deleniti
                dicta dolor doloribus eligendi eum facere illo incidunt!
            </span>
        </p>
        <a>SEE MORE ></a>
    </section>
    <section class="articles">
        <h3>
            Journal
        </h3>
        <p>
            <span>
                Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Deleniti
                dicta dolor doloribus eligendi eum facere illo incidunt!
            </span>
        </p>
        <a>ALL POST ></a>
    </section>
</main>
{% endblock content %}